In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from api_keys import g_key

In [5]:
file_path = "../WeatherPy/output_data/cities.csv"
cities_data = pd.read_csv(file_path)
cities_data.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.60,-73.97,70.00,85,53,3.53,US,1597469726
1,Kavieng,-2.57,150.80,82.67,71,100,2.91,PG,1597469725
2,Flin Flon,54.77,-101.86,55.71,83,76,5.68,CA,1597469964
3,Ushuaia,-54.80,-68.30,35.60,64,75,12.75,AR,1597469964
4,Broome,42.25,-75.83,68.00,82,90,3.36,US,1597469815

In [36]:
gmaps.configure(api_key=g_key)
figure_layout = {
    'width': '400px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout)
fig = gmaps.figure(map_type='SATELLITE')
locations = cities_data[['Lat', 'Long']]
# weight = cities_data['Humidity']
# heatmap_layer = gmaps.heatmap_layer(locations, weights=weight)
# fig.add_layer(heatmap_layer)
# heatmap_layer.max_intensity = 300
# heatmap_layer.point_radius = 5
fig
# locations.head()

Figure(layout=FigureLayout(height='420px'))

In [18]:
columns = ['City', 'Lat', 'Long', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed', 'Country', 'Date']
city_choice = cities_data.loc[(cities_data["Max Temp"] > 70) & (cities_data["Max Temp"] < 80) & (
        cities_data["Wind Speed"] < 10) & (cities_data["Cloudiness"] == 0 ), columns]
city_choice.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
59,Airai,-8.93,125.41,76.37,36,0,6.02,TL,1597469974
105,Guerrero Negro,27.98,-114.06,73.38,66,0,2.77,MX,1597469982
198,São Miguel do Araguaia,-13.28,-50.16,71.46,44,0,3.24,BR,1597469997
229,Avarua,-21.21,-159.78,75.20,100,0,6.93,CK,1597469928
280,Potenza,40.64,15.81,70.47,60,0,5.19,IT,1597470011